$btnandtext: #FF8C00;
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    margin-left: 20px;
    transition: color 0.2s;
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  ul {  
    list-style: none;
    display: flex;
    justify-content:flex-end;
    margin-right: 40px;
    li{
      padding: 30px 0 30px 20px;
      text-decoration: none;
      transition: color 0.2s;
    }
    a{
      text-decoration: none;
      color: inherit;
    }
  }
  // border: solid 1px ;
}
.Layout {
  // border: solid 1px red;
}
.logo:hover, li:hover {
  color: $btnandtext
}