$btnandtext: #ff7b00;
//FF8C00
form {
  border: solid 1px;
  border-radius: 10px;
  margin: 70px 450px;
  padding-top: 50px;
  height: 350px;
  color: $btnandtext;
}
input {
  width: 250px;
  padding: 10px 0;
  padding-left: 10px;
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 10px;
}
.btn {
  margin-top: 40px;
  width: 270px;
  padding: 12px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.btn:hover{
  background-color: $btnandtext;
}